# My Jupyter Notebook on IBM Watson Studio

**Alan Nishimura**
<br>Data Scientist

_I am interested in data science because I am a builder and thus a problem solver.  
Though I love to learn about a system using a first-principles approach, with the ability to collect and process a vast amount of data, I can learn about a system using a different approach. To get paid for tinkering with data is what I consider a dream come true._

### The code uses the print() function to output the string,"hello world".

In [1]:
print("hello world")

hello world



This table is delineating the function provided by Python, the function's argument, the actual code, and finally the actual output.


<table>
  <tr>
    <th>python function</th>
    <th>function argument</th>
      <th>actual code</th>
    <th>actual output</th>
  </tr>
  <tr>
    <td>print()</td>
    <td>"hello world"</td>
       <th><code> print("hello world") </code></th>
    <td>hello world</td>
  </tr>
</table>




This is an example of a block quote in Jupyter notebook:

>The message can be a string, or any other object, the object will be converted into a string before written to the screen. **W3 Schools**

This is an example of a link:

> [This is a link to w3 schools](https://www.w3schools.com/python/ref_func_print.asp)

List of accomplishments in Cell 6:
* created a table in html
* created a block quote
* created a link to the W3 Schools Website
* created an unordered list